<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: "form-signin"}) do |f| %>
<h2 class="text-center">Forgot your password?</h2>
  <%= f.error_notification %>
    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email", input_html: {class: "form-control"} %>
 
    <%= f.button :submit, "Send reset password instructions", class: "btn btn-primary btn-block" %>
 
<% end %>

<div class="text-center">
  <%= render "devise/shared/links" %>
</div>
